<footer>
    <section class="generalInfos">
        <img src="/app/assets/imgs/logos/codescript-white.webp" alt="Logo Codescript" loading="lazy">

        <p>
            Adoramos trabalhar com pessoas ambiciosas. <br>Vamos construir algo incrível juntos agora.
        </p>

        <article class="generalListIcons">
            <a href="https://api.whatsapp.com/send?phone=5554999660470" target="_blank">
                <img src="/app/assets/svgs/icons/whatsapp.svg" alt="Ícone WhatsApp" loading="lazy" width="16" height="16">
            </a>
            <a href="https://www.instagram.com/codescript.tech/" target="_blank">
                <img src="/app/assets/svgs/icons/instagram.svg" alt="Ícone Instagram" loading="lazy" width="16" height="16">
            </a>
            <a href="https://www.linkedin.com/company/codescript-tech/" target="_blank">
                <img src="/app/assets/svgs/icons/linkedin.svg" alt="Ícone LinkedIn" loading="lazy" width="16" height="16">
            </a>
            <a href="https://www.youtube.com/@code.script" target="_blank">
                <img src="/app/assets/svgs/icons/youtube.svg" alt="Ícone YouTube" loading="lazy" width="16" height="16">
            </a>
        </article>
    </section>

    <section class="routerInfos">
        <h4>Mapa do Site</h4>

        <ul>
            <li>
                <a href="/index.html">Início</a>
            </li>
            <li>
                <a href="/app/pages/about/about.html">Sobre Nós</a>
            </li>
            <li>
                <a href="/app/pages/services/services.html">Serviços</a>
            </li>
            <li>
                <a href="/app/pages/contact/contact.html">Contato</a>
            </li>
        </ul>
    </section>

    <section class="addressInfos">
        <ul>
            <li>
                <h4>Passo Fundo, RS - Brasil</h4>
                <p>Edifício Privilegium</p>
                <span>R. Quinze de Novembro, 918, Centro, sala 1102, Passo Fundo - RS</span>
            </li>

            <li>
                <h4>Miami, FL - US (Virtual Office)</h4>
                <p>175 SW 7th ST, Unit #1515,</p>
            </li>
        </ul>
    </section>

</footer>
