footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    padding: 2.4rem clamp(5rem, 8vw, 11.2rem);
    background-color: var(--darkPrimary);
}

footer .generalInfos {
    display: flex;
    flex-direction: column;
}

footer .generalInfos img {
    width: 20rem;
    height: auto;
    margin-bottom: 2.4rem;
}

footer .generalInfos p {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--whitePrimary);
}

footer .generalInfos .generalListIcons {
    display: flex;
    align-items: center;
    margin-top: 3.2rem;
    gap: 1.2rem;
}

footer .generalInfos .generalListIcons a {
    text-align: center;
}

footer .generalInfos .generalListIcons a img {
    width: 2.4rem;
    height: 2.4rem;
    margin: 0;
}

footer .routerInfos {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

footer .routerInfos h4,
footer .addressInfos ul li h4  {
    color: var(--whitePrimary);
    font-size: 2rem;
    font-weight: 500;
}

footer .routerInfos ul {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

footer .routerInfos ul li a {
    color: var(--graySecondary);
    font-size: 1.6rem;
    padding: 0.5rem;
    border-radius: 0.4rem;
}

footer .routerInfos ul li a:hover {
    background-color: var(--shadowIcons);
}

footer .addressInfos ul {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

footer .addressInfos ul li {
    display: flex;
    flex-direction: column;
}

footer .addressInfos ul li p {
    margin-top: 2.4rem;
    font-size: 1.6rem;
    color: var(--graySecondary);
}

footer .addressInfos ul li span {
    margin-top: 0.6rem;
    font-size: 1.6rem;
    color: var(--graySecondary);
}

@media (max-width: 1024px) {
    footer {
        flex-direction: column;
        align-items: flex-start;
        padding: 2.4rem;
    }

    footer .generalInfos .generalListIcons {
        justify-content: flex-start;
    }

    footer .routerInfos ul {
        gap: 1.2rem;
    }
}

@media (max-width: 768px) {
    footer {
        padding: 2.4rem;
    }

    footer .generalInfos p {
        font-size: 1.4rem;
        line-height: 2rem;
    }

    footer .routerInfos h4,
    footer .addressInfos ul li h4  {
        font-size: 1.8rem;
    }

    footer .routerInfos ul li a {
        font-size: 1.4rem;
    }

    footer .addressInfos ul li p,
    footer .addressInfos ul li span {
        font-size: 1.4rem;
    }
}