<footer>
    <section class="generalInfos">
        <img src="/app/assets/imgs/logos/codescript.webp" alt="Logo Codescript" loading="lazy">

        <p>
            Adoramos trabalhar com pessoas ambiciosas. <br>Vamos construir algo incrível juntos agora.
        </p>

        <article class="generalListIcons">
            <a href="https://api.whatsapp.com/send?phone=5554999660470" target="_blank">
                <img src="/app/assets/svgs/icons/whatsapp.svg" alt="Ícone WhatsApp" loading="lazy" width="16" height="16">
            </a>
            <a href="https://www.instagram.com/codescript.tech/" target="_blank">
                <img src="/app/assets/svgs/icons/instagram.svg" alt="Ícone Instagram" loading="lazy" width="16" height="16">
            </a>
            <a href="https://www.linkedin.com/company/codescript-tech/" target="_blank">
                <img src="/app/assets/svgs/icons/linkedin.svg" alt="Ícone LinkedIn" loading="lazy" width="16" height="16">
            </a>
            <a href="https://www.youtube.com/@code.script" target="_blank">
                <img src="/app/assets/svgs/icons/youtube.svg" alt="Ícone YouTube" loading="lazy" width="16" height="16">
            </a>
        </article>

        <article class="routerInfos">

        </article>
    </section>

</footer>