@import url('/app/styles/vendor/colors.css');
@import url('/app/components/nav/nav.css');
@import url('/app/components/footer/footer.css');

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 8.8rem);
    padding: clamp(5rem, 8vw, 6.4rem) clamp(10rem, 15vw, 11.2rem);
    background-color: var(--grayPrimary);
    gap: 2rem;
}

.descriptionContact,
.formContact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100% - 8.8rem);
    width: 50%;
}

.descriptionContact {
    background-color: var(--darkPrimary);
    border-radius: 0.8rem;
    height: calc(100% - 8.8rem);
}

.descriptionContact h1 {
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: var(--whitePrimary);
}

.descriptionContact p {
    font-size: 1.6rem;
    letter-spacing: 0.05rem;
    color: var(--graySecondary);
}

.generalListIcons {
    display: flex;
    align-items: center;
    margin-top: 3.2rem;
    gap: 1.2rem;
}

.formContact form {
    display: flex;
    flex-direction: column;
}

form .flexForm {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
}

.flexForm .nameForm,
.flexForm .phoneForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

form:not(.flexForm) {
    gap: 0.8rem;
}


form .g-recaptcha {
    margin: 0 auto;
    margin-bottom: 2rem;
}

label {
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
    color: var(--darkPrimary);
}

input {
    padding: 1.2rem 0.8rem;
    border-radius: 0.4rem;
    border: 0.1rem solid var(--grayPrimary);
    color: var(--darkPrimary);
    font-size: 1.4rem;
    cursor: pointer;
}

textarea {
    padding: 1.2rem 0.8rem;
    border-radius: 0.4rem;
    border: 0.1rem solid var(--grayPrimary);
    color: var(--darkPrimary);
    font-size: 1.4rem;
    cursor: pointer;
}

button {
    background-color: var(--darkPrimary);
    border: none;
    padding: 1.8rem 1rem;
    border-radius: 0.4rem;
    font-size: 1.6rem;
    color: var(--whitePrimary);
    cursor: pointer;
}

button:hover {
    background-color: var(--grayPrimary);
    color: var(--darkPrimary);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

input:focus,
textarea:focus {
    border: 0.1rem solid var(--grayPrimary);
    box-shadow: 0 0 5px var(--grayPrimary);
    outline: none;
    transition: box-shadow 0.3s ease;
}

#toast {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 1.2rem 2rem;
    border-radius: 0.4rem;
    color: var(--whitePrimary);
    background-color: var(--darkPrimary);
    font-size: 1.6rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#toast.show {
    opacity: 1;
    pointer-events: all;
    transform: translateX(-50%) translateY(-2rem);
}

#toast.success {
    background-color: #2ad641;
}

#toast.error {
    background-color: #f14f4f;
}

#toast.hidden {
    opacity: 0;
    transform: translateX(-50%) translateY(2rem);
}

@media only screen and (max-width: 1020px) {
    main {
        flex-direction: column;
        padding: 2rem;
    }

    main .descriptionContact h1,
    main .descriptionContact p {
        display: none;
    }

    .descriptionContact,
    .formContact {
        width: 100%;
        margin-bottom: 2rem;
    }

    .flexForm {
        flex-direction: column;
    }
}
