nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 1.6rem 3.2rem;
    line-height: 2rem;
    background-color: transparent;
    color: var(--primary-dark);
    user-select: none;
    margin: 0;
    -webkit-box-shadow: 0px 1px 0px 1px rgba(238, 238, 238, 1);
    -moz-box-shadow: 0px 1px 0px 1px rgba(238, 238, 238, 1);
    box-shadow: 0px 1px 0px 1px rgba(238, 238, 238, 1);
}

nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

nav ul li {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

nav ul li:hover {
    background-color: rgba(0, 0, 0, 0.03);
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul .nav-service {
    position: relative;
}

nav ul .nav-service button,
nav ul li a {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--primary-dark);
}

nav ul .nav-service button{
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

nav ul .nav-service ul {
    display: none;
    position: absolute;
    top: 100%;
    right: 10%;
    margin-top: 0.5rem;
    padding: 2rem;
    background-color: var(--background-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    z-index: 10;
}

nav ul .nav-service ul li {
    padding: 1rem;
    white-space: nowrap;
}

nav ul .nav-service ul li:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

nav ul .nav-service ul.active {
    display: flex;
}