@import url('/app/styles/vendor/colors.css');
@import url('/app/components/nav/nav.css');
@import url('/app/components/footer/footer.css');

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    display: none;
}

.homeMain {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 2;

    background-image: url("/app/assets/imgs/ilustrations/codescript.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;

    min-block-size: calc(100vh - 9.2rem);
    place-content: center;

    padding: clamp(5rem, 8vw, 6.4rem) clamp(10rem, 15vw, 11.2rem);
}

.homeMain::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: linear-gradient(hsl(220 80% 20% / 0.9),
            hsl(220 80% 10% / 0.8));
    z-index: -1;
}

.homeMain .welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: clamp(1.6rem, 2vw, 2rem);
}

.homeMain .welcome h1 {
    font-size: clamp(5rem, 5vw + 1rem, 4.8rem);
    font-weight: 600;

    line-height: 6rem;
    color: var(--whitePrimary);
}

.homeMain .welcome p,
.started .startedDescription p,
.asking .askingDescription p {
    font-size: clamp(2rem, 2vw + 1rem, 1.8rem);
    font-weight: 400;

    line-height: clamp(2.4rem, 3vw + 1rem, 2.8rem);
    color: var(--grayPrimary);
}

.started .startedDescription p {
    color: var(--bluePrimary);
}

.asking .askingDescription p {
    text-align: center;
    color: var(--graySecondary);
}

.homeMain .welcome button {
    font-size: clamp(1.2rem, 1.5vw + 0.5rem, 1.4rem);
    font-weight: 500;

    line-height: clamp(1.8rem, 2vw + 0.5rem, 2rem);
    letter-spacing: 0.16rem;

    border-radius: clamp(0.6rem, 1vw, 0.8rem);
    padding: clamp(0.8rem, 1vw + 0.5rem, 1rem) clamp(1.6rem, 2vw + 0.5rem, 2rem);

    background-color: transparent;
    border: var(--whitePrimary) 0.1rem solid;
    color: var(--whitePrimary);
}

.services,
.values,
.started {
    padding: clamp(4rem, 6vw, 8rem) clamp(5rem, 8vw, 11.2rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--grayPrimary);
}

.services .servicesDescription,
.values .valuesDescription,
.started .startedDescription,
.asking .askingDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(0.6rem, 1vw, 0.8rem);
}

.services .servicesDescription .badge,
.values .valuesDescription .badge {
    width: clamp(10rem, 12vw, 13rem);
    padding: clamp(0.4rem, 0.8vw, 0.5rem) clamp(0.8rem, 1.5vw, 1rem);
    background-color: transparent;
    border-radius: clamp(1rem, 2vw, 1.5rem);
    border: 0.2rem solid var(--bluePrimary);
    text-align: center;
}

.values .valuesDescription .badge {
    border: 0.2rem solid var(--whitePrimary);
}

.services .servicesDescription .badge p,
.values .valuesDescription .badge p {
    font-size: clamp(1.2rem, 1.5vw, 1.4rem);
    font-weight: 500;
}

.services .servicesDescription .badge p {
    color: var(--bluePrimary);
}

.values .valuesDescription .badge p {
    color: var(--whitePrimary);
}

.services .servicesDescription h2,
.values .valuesDescription h3,
.started .startedDescription h3,
.asking .askingDescription h3 {
    font-size: clamp(2.8rem, 4vw + 1rem, 3.6rem);
    font-weight: 600;
    text-align: center;
    line-height: clamp(3.4rem, 5vw + 1rem, 4.4rem);
}

.values .valuesDescription h3,
.asking .askingDescription h3 {
    color: var(--whitePrimary);
}

.services ul {
    display: flex;
    flex-direction: column;
    gap: clamp(6rem, 10vw, 10rem);
    padding-top: clamp(4rem, 6vw, 6.4rem);
}

.services ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(1.6rem, 3vw, 2.4rem);
}

.services ul li img {
    width: 25rem;
    height: auto;
}

.services .detailsService {
    display: flex;
    flex-direction: column;
}

.services .detailsService h2 {
    font-size: clamp(2.4rem, 3.5vw, 3rem);
    line-height: clamp(2.4rem, 3.5vw, 2.8rem);
    font-weight: 600;
    color: var(--bluePrimary);
    margin-bottom: clamp(1.6rem, 3vw, 2.4rem);
}

.services .detailsService p {
    width: 100%;
    max-width: 80rem;
    font-size: clamp(1.8rem, 3vw, 2.2rem);
    line-height: 1.6em;
    text-align: left;
    margin-bottom: clamp(1.6rem, 3vw, 2.4rem);
}

.services .detailsService button {
    border: 0.2rem solid var(--bluePrimary);
    background-color: transparent;
    padding: clamp(1rem, 2vw, 1.2rem) clamp(2rem, 4vw, 3rem);
    border-radius: clamp(0.6rem, 1vw, 0.8rem);
    font-size: clamp(1.6rem, 2vw, 1.8rem);
    font-weight: 600;
    letter-spacing: 0.05rem;
    color: var(--bluePrimary);
}

.values {
    position: relative;
    z-index: 2;

    background-image: url("/app/assets/imgs/ilustrations/homens-sorrindo.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;

    min-block-size: 60vh;
    place-content: center;
}

.asking {
    position: relative;
    z-index: 2;
    background-image: url("/app/assets/imgs/ilustrations/caneca-codescript.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    padding: clamp(4rem, 6vw, 8rem) clamp(5rem, 8vw, 11.2rem);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.asking::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(hsla(220, 80%, 19%, 0.9),
            hsl(220 80% 10% / 0.8));
    z-index: -1;
}

.values::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: linear-gradient(hsla(220, 80%, 19%, 0.9),
            hsl(220 80% 10% / 0.8));
    z-index: -1;
}

.values .valuesContent {
    display: flex;
    flex-direction: column;
    padding: clamp(5rem, 8vw, 6.9rem) 0;
    gap: clamp(5rem, 8vw, 6rem);
}

.values .valuesContent ul {
    display: flex;
    gap: clamp(4rem, 5vw, 5rem);
}

.values .valuesContent ul li {
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 0.1rem solid var(--graySecondary);
    border-radius: clamp(1rem, 2vw, 1.2rem);
    padding: clamp(1rem, 2vw, 1.5rem) clamp(2rem, 4vw, 3rem);
}

.values .valuesContent ul li picture {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: clamp(0.6rem, 1vw, 0.8rem);
    background-color: var(--shadowIcons);
    border-radius: clamp(0.8rem, 1.5vw, 1.2rem);
    margin-bottom: clamp(2rem, 3vw, 2rem);
}

.values .valuesContent ul li h2 {
    font-size: clamp(2.4rem, 3.5vw, 3rem);
    line-height: clamp(2.4rem, 3.5vw, 2.8rem);
    font-weight: 600;
    color: var(--whitePrimary);
    margin-bottom: clamp(2rem, 3vw, 2rem);
}

.values .valuesContent ul li p {
    width: 100%;
    max-width: 50rem;
    font-size: clamp(1.8rem, 3vw, 2.2rem);
    line-height: 1.6em;
    color: var(--graySecondary);
}

.started .videoDescription {
    margin-top: clamp(3rem, 5vw, 4rem);

    position: relative;
    z-index: 1100;
}

.started video {
    border-radius: clamp(1rem, 1.5vw, 1.2rem);
    cursor: pointer;
}

.scrollPartners {
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    margin-top: 4rem;
    height: 12rem;
}

.partnersPrimary,
.partnersSecondary {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    animation: scroll 20s linear infinite;
    animation-play-state: running;
}

.scrollPartners:hover .partnersPrimary,
.scrollPartners:hover .partnersSecondary {
    animation-play-state: paused;
}


.partnersSecondary {
    position: absolute;
    left: 100%;
}

.scrollPartners img {
    width: 12rem;
    height: 100%;
    object-fit: contain;
    margin-right: 2rem;
    flex-shrink: 0;
}

.asking ul {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 80rem;
    margin: 6.4rem 0;
    gap: 1.6rem;
}

.asking ul li {
    display: flex;
    flex-direction: column;
    border: 0.1rem solid var(--graySecondary);
    border-radius: 0.8rem;
    padding: 3.2rem;
}

.asking ul li .listHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.asking ul li .listHeader h4,
.asking .persistentDoubts h4 {
    font-size: clamp(2rem, 2vw + 1rem, 1.8rem);
    font-weight: 600;
    letter-spacing: 0.02rem;
    line-height: clamp(2.4rem, 3vw + 1rem, 2.8rem);
    color: var(--grayPrimary);
}

.asking ul li .listBody p,
.asking .persistentDoubts p {
    font-size: 1.6rem;
    letter-spacing: 0.02rem;
    line-height: clamp(2.4rem, 3vw + 1rem, 2.8rem);
    text-align: left;
    margin-top: 2rem;
    color: var(--graySecondary);
}

.asking ul li .listBody {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.asking ul li .listBody.open {
    max-height: 100rem;
    transition: max-height 0.5s ease-out, overflow 0s linear 0.5s;
}

.asking ul li .listHeader button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.asking .persistentDoubts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3.2rem;
    border-radius: 2rem;
    background-color: var(--shadowIcons);
}

.asking .persistentDoubts h4 {
    margin-bottom: 1rem;
}

.asking .persistentDoubts p {
    margin-top: 0;
    margin-bottom: 0.8rem;
    text-align: center;
    width: 100%;
    max-width: 46.3rem;
}

.asking .persistentDoubts .persistentDoubtsBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: transparent;
    border: 0.2rem solid var(--whitePrimary);
    padding: 1rem;
    border-radius: 0.8rem;
}

.asking .persistentDoubts .persistentDoubtsBtn span {
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: var(--whitePrimary);

    cursor: pointer;
}

@media only screen and (max-width: 1050px) {
    .values .valuesContent ul {
        flex-direction: column;
    }
}

@media only screen and (max-width: 845px) {

    .homeMain .welcome,
    .started .startedDescription,
    .asking .askingDescription {
        gap: 3rem;
    }

    .homeMain .welcome h1,
    .servicesDescription h2,
    .startedDescription h3 {
        font-size: 4rem;
        line-height: 4.5rem;
        letter-spacing: 0.15rem;
    }

    .homeMain .welcome h1 br,
    .homeMain .welcome p br {
        display: none;
    }

    .homeMain .welcome p,
    .started .startedDescription p {
        font-size: 1.8rem;
    }

    .started .startedDescription {
        gap: 2rem;
    }

    .startedDescription h3 br {
        display: none;
    }

    .startedDescription p {
        text-align: center;
    }
}

@media only screen and (max-width: 670px) {
    .services ul li {
        flex-direction: column;
        align-items: start;
    }

    .services ul li img {
        width: 15rem;
        height: auto;
    }

    .asking .persistentDoubts h4 {
        margin-bottom: 2rem;
    }

    .asking .persistentDoubts p {
        font-size: 1.4rem;
        line-height: 2rem;
        margin-bottom: 2rem;
    }
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes slide-to-left {
    from {
        opacity: translateX(-4rem);
    }

    to {
        opacity: translateX(0rem);
    }
}

::view-transition-old(root) {
    animation: fade-out 350ms cubic-bezier(0, 0, 0.2, 1),
        slide-to-right 350ms cubic-bezier(0, 0, 0.2, 1);
}

::view-transition-new(root) {
    animation: fade-in 350ms cubic-bezier(0, 0, 0.2, 1) slide-to-left 350ms cubic-bezier(0, 0, 0.2, 1);
    mix-blend-mode: normal;
}

.card-transition-large {
    view-transition-name: card;
}