<nav id="navbar">
    <img id="codeLogo" src="/app/assets/imgs/logos/codescript.webp" alt="Logo Codescript">

    <button class="menu-toggle" id="menuToggle">&#9776;</button>
    <ul id="menu">
        <li>
            <a href="/index.html">Início</a>
        </li>
        <li>
            <a href="#about-us">Sobre Nós</a>
        </li>
        <li>
            <a href="#services">Serviços</a>
        </li>
        <li>
            <a href="#products">Produtos</a>
        </li>
        <li>
            <a href="#contact">Contato</a>
        </li>
    </ul>
</nav>
