<nav id="navbar">
    <img id="codeLogo" src="/app/assets/imgs/logos/codescript.webp" alt="Logo Codescript">

    <button class="menu-toggle" id="menuToggle">&#9776;</button>
    <ul id="menu">
        <li>
            <a href="/index.html">Início</a>
        </li>
        <li>
            <a href="/app/pages/about/about.html">Sobre Nós</a>
        </li>
        <li>
            <a href="/app/pages/services/services.html">Serviços</a>
        </li>
        <li>
            <a href="/app/pages/contact/contact.html">Contato</a>
        </li>
    </ul>
</nav>
