@import url('/app/styles/vendor/colors.css');
@import url('/app/components/nav/nav.css');
@import url('/app/components/footer/footer.css');

.serviceMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 2;

    background-image: url("/app/assets/imgs/ilustrations/grupo-sorrindo.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    min-block-size: calc(40vh - 9.2rem);
    place-content: center;

    padding: clamp(5rem, 8vw, 6.4rem) clamp(10rem, 15vw, 11.2rem);
}

.serviceMain::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: linear-gradient(hsla(220, 66%, 16%, 0.9),
            hsla(221, 85%, 8%, 0.8));
    z-index: -1;
}

.serviceMain h1 {
    text-align: center;
    font-size: clamp(3rem, 5vw, 5rem);
    font-weight: 500;
    color: var(--whitePrimary);
}

.serviceMain p {
    margin-top: 2.4rem;
    text-align: center;
    width: 100%;
    max-width: 100rem;

    font-size: clamp(2rem, 2vw + 1rem, 1.8rem);
    font-weight: 400;
    line-height: clamp(2.4rem, 3vw + 1rem, 2.8rem);
    color: var(--grayPrimary);
}

.serviceMain ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 2.4rem;
    gap: 2rem;
}

.serviceMain ul li {
    font-size: clamp(1.4rem, 1.5vw, 1.6rem);
    border: 0.2rem solid var(--blueSecondary);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--blueSecondary);
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects ul li {
    display: flex;
    flex-direction: column;
    padding: clamp(5rem, 8vw, 6.4rem) clamp(10rem, 15vw, 11.2rem);
}

.projects ul li h3 {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: var(--whitePrimary);
    text-align: left;
    margin-bottom: 1rem;
}

.projects ul li span {
    font-size: 1.6rem;
    color: var(--graySecondary);
    margin-bottom: 2.4rem;
}

.projects ul li p {
    font-size: clamp(2rem, 2vw + 1rem, 1.8rem);
    font-weight: 400;
    line-height: clamp(2.4rem, 3vw + 1rem, 2.8rem);
    color: var(--grayPrimary);
    text-align: left;
}

.projects ul li {
    position: relative;
    z-index: 2;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    min-block-size: 30vh;
    place-content: center;
}

.projects ul li::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: linear-gradient(hsla(220, 66%, 16%, 0.9),
            hsla(221, 85%, 8%, 0.8));
    z-index: -1;
}

.saude-item {
    background-image: url("/app/assets/imgs/ilustrations/saude.webp");
}

.agronegocio-item {
    background-image: url("/app/assets/imgs/ilustrations/agro.webp");
}

.lab-item {
    background-image: url("/app/assets/imgs/ilustrations/others.webp");
}
