@import url('/app/styles/vendor/config/import.css');

hr {
    width: 100%;
    max-width: 120rem;
    height: 0.01rem;
    margin: 8rem 0;
    border-color: var(--blue-destach);
}

.container-health {
    display: flex;
    align-items: center;
    flex-direction: column;
}

main,
.innovativeSection {
    display: flex;
    flex-direction: column;
    padding: 8rem 10rem 0 10rem;
    gap: 1rem;
}

main {
    align-items: center;
}

main .healthParagraph {
    color: var(--primary-dark);
}

main .healthParagraph b {
    color: var(--blue-destach);
}

main h1 {
    font-size: 4rem;
    letter-spacing: var(--letter-spacing-title);
    line-height: var(--line-height-title);
    color: transparent;
    background: linear-gradient(90deg, var(--blue-destach), var(--secondary-text));
    background-clip: text;
    -webkit-background-clip: text;
}

main .healthParagraph,
main p,
.innovativeSectionParagraph,
.innovativeSection p,
.contactUs p {
    font-size: 1.6rem;
    letter-spacing: var(--letter-spacing-paragraph);
    line-height: var(--line-height-paragraph);
    font-weight: 500;
    text-align: center;
}

.innovativeSection h2,
.contactUs h4 {
    text-align: left;
    font-size: 6rem;
    font-weight: 700;
    line-height: var(--line-height-subtitle);
    letter-spacing: -.03em;
    margin-bottom: 2rem;
    color: var(--primary-dark);
}

.innovativeSection img {
    border-radius: 1rem;
    margin-bottom: 4rem;
}

.innovativeSectionParagraph,
.innovativeSection,
.innovativeSection h2,
.contactUs {
    width: 100%;
    max-width: 120rem;
}

.innovativeSectionInfos,
.innovativeSection {
    margin-top: 4rem;
    display: flex;
    gap: 4rem;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.items .solutions {
    margin-top: 4rem;
}

.innovativeSection h3 {
    text-align: center;
    font-size: 4rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: var(--primary-dark);
}

.innovativeSection p {
    text-align: center;
}

.innovativeSection {
    flex-direction: column;
}

.contactUs {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    padding-bottom: 8rem;
}

.contactUs h4 {
    margin: 0;
}

.contactUs p {
    margin-bottom: 2rem;
}

.contactUs button {
    border: none;
    background-color: var(--primary-dark);
    color: var(--off-white);
    padding: var(--padding-btn);
    font-size: var(--fontsize-btn);
    font-weight: 700;
    border-radius: var(--radius-lg);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    width: 100%;
    max-width: 20rem;
}

.contactUs button:hover {
    transform: translateY(-0.2rem);
}

@media screen and (max-width: 1240px) {
    .innovativeSection h2 {
        text-align: center;
    }

    .innovativeSection img {
        width: 80rem;
        height: 60rem;
        margin: 0 auto;
        margin-bottom: 4rem;
    }

    hr {
        max-width: 90rem;
    }
}

@media screen and (max-width: 940px) {
    .innovativeSection h2,
    .contactUs h4 {
        font-size: 4rem;
    }

    .innovativeSection img {
        width: 60rem;
        height: 45rem;
    }

    hr {
        max-width: 70rem;
    }
}

@media screen and (max-width: 800px) {

    main,
    .innovativeSection {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    main h1,
    .innovativeSection h2,
    .contactUs h4,
    .items h3 {
        font-size: 3rem;
    }

    .innovativeSection img {
        width: 50rem;
        height: 36.5rem;
    }

    .innovativeSectionInfos {
        flex-direction: column;
    }

    .innovativeSectionInfos {
        color: transparent;
        background: linear-gradient(90deg, var(--blue-destach), var(--secondary-text));
        background-clip: text;
        -webkit-background-clip: text;
    }

    hr {
        max-width: 60rem;
    }
}

@media screen and (max-width: 640px) {

    .innovativeSection img {
        width: 42rem;
        height: 30.6rem;
    }

    hr {
        max-width: 50rem;
    }
}

@media screen and (max-width: 530px) {
    .innovativeSection {
        padding-top: 4rem;
    }

    .innovativeSection img {
        width: 38rem;
        height: 27.7rem;
    }

    hr {
        max-width: 40rem;
    }
}

@media screen and (max-width: 500px) {
    main h1,
    .innovativeSection h2,
    .contactUs h4,
    .items h3 {
        font-size: 2rem;
    }

    main .healthParagraph,
    main p,
    .innovativeSectionParagraph,
    .innovativeSection p,
    .contactUs p {
        font-size: 1.4rem;
    }

    .innovativeSection img {
        width: 30rem;
        height: 21.9rem;
    }

    hr {
        display: none;
    }
}

@media screen and (max-width: 440px) {
    main,
    .innovativeSection {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .contactUs {
        padding: 4rem 3rem;
    }
}